<IfModule mod_rewrite.c>
  RewriteEngine On
  # --- INÍCIO DA ALTERAÇÃO PARA HTTPS ---
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  # --- FIM DA ALTERAÇÃO ---
  RewriteBase /detalhe/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /detalhe/index.html [L]
</IfModule>