.whatsapp-float {
  position: fixed;
  bottom: 8px;
  left: 14px;

  width: 50px;
  height: 50px;

  background-color: #25d366;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
  text-decoration: none;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s ease;
}

.whatsapp-float img {
  width: 35px;
  height: 35px;
}

.whatsapp-float:hover {
  background-color: #128c7e;
}
